<style>

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.links{
    color: white
}

}
</style>

<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      MyJournal
      <%= link_to "Home", root_path, class: "links" %>
      <%= link_to "New Entry", new_entry_path, class: "links" %>
    </div>
  </div>
      <span></span>
      <span></span>
      <span></span>
  </div>
</div>
