<div class="tabs is-centered is-boxed">
  <ul>
    <li><strong>
        <span><%= link_to "Journal", journals_path %></span>
    </strong></li>
    <li><strong>
        <%= link_to "Notes", entries_path %>
    </strong></li>
  </ul>
</div>