<div class="tabs is-centered is-boxed">
  <ul>
    <li>
        <span><%= link_to "Journal", journals_path %></span>
    </li>
    <li>
        <%= link_to "Notes", entries_path %>
    </li>
  </ul>
</div>